# For loop

In [2]:
list1 = [10,14,16,17]
for i in list1:
    print(i)

10
14
16
17

In [3]:
import time

In [4]:
list1 = [10,14,16,17]
for i in list1:
    print(i)
    time.sleep(4)

10
14
16
17

## Range()

It is a data type

In [5]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [6]:
list2 = list(range(1,21))
list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [7]:
list2 = list(range(1,21,2))
list2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [8]:
list2 = list(range(21))
list2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [9]:
list(range(20,0,-1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [10]:
for i in range(1,5):
    print(i+4)

5
6
7
8

In [11]:
for i in range(0,5):
    print(i**2)

0
1
4
9
16

In [12]:
for i in range(1,6):
    print(i % 2)

1
0
1
0
1

In [1]:
list2 = []
for i in range(1,10):
    list2.append(i*3)
print(list2)

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [13]:
list2 = []
for i in range(1,10):
    j = 10
    i = j + 2
print(i*2)

24

In [14]:
name = 'Innomatics'
for i in name:
    print(i)

I
n
n
o
m
a
t
i
c
s

In [15]:
string = 'Hello'
for i in string:
    print(i*2)

HH
ee
ll
ll
oo

In [16]:
names = ["Itera","Celbra","Na","Crea"]

for i in names:
    print(i+'tion')

Iteration
Celbration
Nation
Creation

In [17]:
num = [1,2,3,4,5,6,7]

for i in num:
    if i%2 == 0:
        print(i)

2
4
6

In [18]:
num = 6,8,9,10,12,14,15

In [19]:
for i in num:
    if i%2 == 1:
        print(i+1)

10
16

In [2]:
print(i)

9

In [3]:
fruits = ["Apple","Banana","Orange","Grapes"]

1. How many fruits are getting started with vowel?

In [4]:
vowels = ("A","E","I","O","U")
for i in fruits:
    if i.startswith(vowels):
        print(i)

Apple
Orange

In [5]:
vowels = ("A","E","I","O","U")
fru_vowel = []
for i in fruits:
    if i.startswith(vowels):
        fru_vowel.append(i)

In [6]:
len(fru_vowel)

2

In [7]:
fru_vowel

['Apple', 'Orange']

In [8]:
vowels = ("A","E","I","O","U")
count = 0
for i in fruits:
    if i.startswith(vowels):
        count = count + 1

In [9]:
count

2

In [10]:
numbers = [10,14,15,17,19,31]

Find the sum of all given numbers in the list?

In [11]:
numbers = [10,14,15,17,19,31]
Total = 0
for i in numbers:
    Total = Total + i
print(Total)

106

In [12]:
sum(numbers)

106

In [13]:
string = 'ysHttXoQWkfFLwbXaOOxxRKpXvMaOuwMJItRCGuiJNhRHgAxEv'

How many vowels are there and how many consonants are there?

In [18]:
vowels = ['a','e','i','o','u']
vow_count = 0
cons_count = 0
for i in string:
    if i.lower() in vowels:
        vow_count = vow_count+1
    else:
        cons_count = cons_count+1

In [19]:
vow_count

12

In [20]:
cons_count

38

In [21]:
num = list(range(21,45))
num

[21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44]

seperate the odd and even numbers? and sum of all odd numbers and sum of all even numbers

In [25]:
num = list(range(21,45))
even = []
odd = []
for i in num:
    if i%2 == 0:
        even.append(i)
    else:
        odd.append(i)

In [26]:
even

[22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44]

In [27]:
odd

[21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43]

In [28]:
sum(even)

396

In [29]:
sum(odd)

384

In [30]:
max(even)

44

In [31]:
min(even)

22

In [32]:
max(odd)

43

In [33]:
min(odd)

21

In [34]:
list2 = []
for i in range(1,11):
    list2.append(i)

print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
chr(90)

'Z'

In [39]:
[chr(i) for i in range(65,91)]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [40]:
[chr(i) for i in range(97,122)]

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y']

In [41]:
list1 = list(range(1,10))

In [42]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
output = []
for i in list1:
    output.append(i**2)

output

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [44]:
[i**2 for i in list1]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

generate the values from 2 to 9 and find the square root of each value and preserve them in a list

In [47]:
[i**0.5 for i in range(2,10)]

[1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0]

generate 1 to 15 and seperate the even numbers

In [48]:
[i for i in range(1,16) if i%2 == 0]

[2, 4, 6, 8, 10, 12, 14]

find the values which are divisible by 3 and 5.range is 10 to 40

In [49]:
for i in range(10,41):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40

In [53]:
for i in range(10,41):
    if (i%3 == 0) and (i%5 == 0):
       print(i)

15
30

In [54]:
list2 = []
for i in range(10,41):
    if(i%3 == 0) and (i%5 == 0):
        list2.append(i)

list2

[15, 30]

In [55]:
[i for i in range(10,41) if (i%3 == 0) and (i%5 == 0)]

[15, 30]

generate values from 15 to 100 and display "Hello" when the number is divisible by 5 
and  display "Bye" when it is divisible by 7. and print if 'welcome' if they are divisible by 5 and 7

In [2]:
list2 = []
for i in range(15,100):
    if(i%5==0) and (i%7==0):
     print("Welcome")
    elif(i%5==0):
     print("Hello")
    elif(i%7==0):
     print("Bye")

Hello
Hello
Bye
Hello
Bye
Hello
Welcome
Hello
Bye
Hello
Bye
Hello
Hello
Bye
Hello
Bye
Hello
Welcome
Hello
Bye
Hello
Bye
Hello
Hello
Bye
Hello
Bye

fruit = {"Apple":50,"Banana":30,"Grape" : 40,"Orange" : 20,"Kiwi":100,"lychee" : 50}


what are the fruits available in the basket

write a program to know the price if i purchase 3 apples and 2 oranges

add fruit for every available fruit

find the average price of fruits.

which fruit is containing less than 5 characters.

In [4]:
fruit = {"Apple":50,"Banana":30,"Grape" : 40,"Orange" : 20,"Kiwi":100,"lychee" : 50}

#### what are the fruits available in the basket?

In [7]:
fruit.keys()

dict_keys(['Apple', 'Banana', 'Grape', 'Orange', 'Kiwi', 'lychee'])

#### find the average price of fruits.

In [9]:
avg = sum(fruit.values()) / len(fruit)

In [10]:
avg

48.333333333333336

#### write a program to know the price if i purchase 3 apples and 2 oranges

In [12]:
[3*fruit.get("Apple") + 2*fruit.get("Orange")]

[190]

#### add fruit for every available fruit

In [13]:
fruit.keys()

dict_keys(['Apple', 'Banana', 'Grape', 'Orange', 'Kiwi', 'lychee'])

In [14]:
for i in fruit.keys():
    print(i+ 'fruit')

Applefruit
Bananafruit
Grapefruit
Orangefruit
Kiwifruit
lycheefruit

#### which fruit is containing less than 5 characters.

In [2]:
fruit = {"Apple":50,"Banana":30,"Grape" : 40,"Orange" : 20,"Kiwi":100,"lychee" : 50}

In [3]:
fruit.keys()

dict_keys(['Apple', 'Banana', 'Grape', 'Orange', 'Kiwi', 'lychee'])

In [4]:
for i in fruit.keys():
    if len(i)<5:
        print(i)

Kiwi

## Nested Forloop

In [6]:
import time

In [8]:
for i in range(1,5):
    for j in range(6,11):
        print(i)
        print(j)
        time.sleep(2)

1
6
1
7
1
8
1
9
1
10
2
6
2
7
2
8
2
9
2
10
3
6
3
7
3
8
3
9
3
10
4
6
4
7
4
8
4
9
4
10

In [12]:
for i in range(1,5):
    print(f"outer for loop is getting executed {i}")
    for j in range(6,11):
        print(f"inner for loop is getting executed {j}")
    time.sleep(2)

outer for loop is getting executed 1
inner for loop is getting executed 6
inner for loop is getting executed 7
inner for loop is getting executed 8
inner for loop is getting executed 9
inner for loop is getting executed 10
outer for loop is getting executed 2
inner for loop is getting executed 6
inner for loop is getting executed 7
inner for loop is getting executed 8
inner for loop is getting executed 9
inner for loop is getting executed 10
outer for loop is getting executed 3
inner for loop is getting executed 6
inner for loop is getting executed 7
inner for loop is getting executed 8
inner for loop is getting executed 9
inner for loop is getting executed 10
outer for loop is getting executed 4
inner for loop is getting executed 6
inner for loop is getting executed 7
inner for loop is getting executed 8
inner for loop is getting executed 9
inner for loop is getting executed 10

In [14]:
for i in range(1,3): #1,2
    for j in range(6,8): #6,7
        print(j)
        print(i)

6
1
7
1
6
2
7
2

In [16]:
for i in range(5,7): #5,6
    for j in range(100,102): #100,101
        print(j)

100
101
100
101

## Multiplication table using NestedFor loop

In [17]:
for i in range(1,6):
    for j in range(1,11):
        print(f"{i} * {j} = {i*j}")
    print('\n')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10


2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30


4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

## PATTERN PROGRAMMING

In [18]:
for i in range(1,5):
    print(i,end = ' ')

1 2 3 4

In [19]:
for i in range(1,5):
    print(i,end ='\n')

1
2
3
4

In [20]:
for i in range(1,5):
    print(i,end = '\t ')

1	 2	 3	 4

#### print **********(10 stars)

In [21]:
for i in range(1,11):
    print('*',end = ' ')

* * * * * * * * * *

In [22]:
for i in range(1,11):
    print('*')

*
*
*
*
*
*
*
*
*
*

In [23]:
for i in range(1,5):
    print('*' * 4)

****
****
****
****

In [24]:
n = int(input("enter the dimension of square matrix: "))
for i in range(1,n+1):
    print('*' *n)

enter the dimension of square matrix:  6

******
******
******
******
******
******

In [26]:
n = int(input("enter the dimension of square matrix: "))
for i in range(1,n+1):
    print('ðŸ’ž' *n)

enter the dimension of square matrix:  10

ðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’ž
ðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’ž
ðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’ž
ðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’ž
ðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’ž
ðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’ž
ðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’ž
ðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’ž
ðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’ž
ðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’žðŸ’ž

In [27]:
n = int(input("enter the dimension of square matrix: "))
for i in range(1,n+1):
    print('4' *n)

enter the dimension of square matrix:  4

4444
4444
4444
4444

In [6]:
for i in range(1,6):
    print('*' * i)

*
**
***
****
*****

In [5]:
for i in range(6,0,-1):
    print('*' * i)

******
*****
****
***
**
*

In [30]:
for i in range(1,6):
    print(f' {i} ' * i)

 1
 2  2
 3  3  3
 4  4  4  4
 5  5  5  5  5

In [33]:
for i in range(1,6):
    print(chr(64+i)*i)

A
BB
CCC
DDDD
EEEEE

##### if we need space in output then we are going to create like this.code will be below

In [32]:
for i in range(1,6):
    print((chr(64+i)+' ') * i)

A
B B
C C C
D D D D
E E E E E

In [35]:
n = int(input("Enter the n value :: "))
for i in range(n):
    for j in range(i+1):
        print(j+1,end = ' ')
    print()

Enter the n value ::  5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [1]:
n = int(input("Enter the n value :: "))
for i in range(n):
    for j in range(i+1):
        print(j+1,end = ' ')
    print('\n')

Enter the n value ::  6

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

1 2 3 4 5 6

In [3]:
n = int(input("Enter the n value :: "))
for i in range(n):
    for j in range(i+1):
        print(chr(j+65),end = ' ')
    print(' ')

Enter the n value ::  5

A
A B
A B C
A B C D
A B C D E

In [4]:
n = int(input("Enter the n value :: "))
for i in range(n):
    for j in range(i+1):
        print(n-j,end = ' ')
    print(' ')

Enter the n value ::  5

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [8]:
for i in range(5):
    print(' '*(5-i)+' *'*i)

     *
    * *
   * * *
  * * * *

In [9]:
for i in range(5):
    print(' '*(5-i)+'*'*i)

    *
   **
  ***
 ****

In [11]:
for i in range(5):
    print('  '*(5-i)+' *'*i+ ' *'*(i-1))

         *
       * * *
     * * * * *
   * * * * * * *

In [12]:
for i in range(5):
    print('  '*(5-i)+'*'*i)

        *
      **
    ***
  ****

In [13]:
n = int(input("Enter the no.of rows:: "))
for i in range(1,n):
    print('  '*(n-i)+' *'*i+ ' *'*(i-1))

Enter the no.of rows::  10

                   *
                 * * *
               * * * * *
             * * * * * * *
           * * * * * * * * *
         * * * * * * * * * * *
       * * * * * * * * * * * * *
     * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * * * *

In [15]:
n = int(input("Enter the no.of rows:: "))
for i in range(n,1,-1):
    print('  '*(n-i)+' *'*i+ ' *'*(i-1))

Enter the no.of rows::  10

 * * * * * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * * * *
     * * * * * * * * * * * * * * *
       * * * * * * * * * * * * *
         * * * * * * * * * * *
           * * * * * * * * *
             * * * * * * *
               * * * * *
                 * * *

In [16]:
n = int(input("Enter the no.of rows:: "))
for i in range(1,n+1):
    print('  '*(n-i)+' *'*(2*i-1))

Enter the no.of rows::  10

                   *
                 * * *
               * * * * *
             * * * * * * *
           * * * * * * * * *
         * * * * * * * * * * *
       * * * * * * * * * * * * *
     * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * *

In [19]:
n = int(input("Enter the no.of rows:: "))
for i in range(n-1,0,-1):
    print('  '*(n-i)+' *'*(2*i-1))

Enter the no.of rows::  10

   * * * * * * * * * * * * * * * * *
     * * * * * * * * * * * * * * *
       * * * * * * * * * * * * *
         * * * * * * * * * * *
           * * * * * * * * *
             * * * * * * *
               * * * * *
                 * * *
                   *

In [21]:
n = int(input("Enter the no.of rows:: "))
for i in range(n-1,0,-1):
    print('  '*(n-i)+' *'*(2*i-1))
for i in range(1,n+1):
    print('  '*(n-i)+' *'*(2*i-1))

Enter the no.of rows::  10

   * * * * * * * * * * * * * * * * *
     * * * * * * * * * * * * * * *
       * * * * * * * * * * * * *
         * * * * * * * * * * *
           * * * * * * * * *
             * * * * * * *
               * * * * *
                 * * *
                   *
                   *
                 * * *
               * * * * *
             * * * * * * *
           * * * * * * * * *
         * * * * * * * * * * *
       * * * * * * * * * * * * *
     * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * *

In [22]:
n = int(input("Enter the no.of rows:: "))
for i in range(1,n+1):
    print('  '*(n-i)+' *'*(2*i-1))
for i in range(n-1,0,-1):
    print('  '*(n-i)+' *'*(2*i-1))

Enter the no.of rows::  10

                   *
                 * * *
               * * * * *
             * * * * * * *
           * * * * * * * * *
         * * * * * * * * * * *
       * * * * * * * * * * * * *
     * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * * * *
     * * * * * * * * * * * * * * *
       * * * * * * * * * * * * *
         * * * * * * * * * * *
           * * * * * * * * *
             * * * * * * *
               * * * * *
                 * * *
                   *