In [1]:
set1 = {1,2,3,4,5}
type(set1)

set

## Representatiom

we dont have representation.we dont have any braces.directly we are using functin

In [2]:
values = frozenset([1,2,3,4,5,6,7,8,9])

In [3]:
values

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

In [4]:
type(values)

frozenset

## Attributes

#immutable

In [5]:
values

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

In [7]:
values.add(10)  #we cant have add,pop,remove functions

AttributeError: 'frozenset' object has no attribute 'add'

#unordered

In [8]:
values

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

In [9]:
values[2]

TypeError: 'frozenset' object is not subscriptable

#duplicates are not allowed

In [10]:
num = frozenset([1,5,8,1,2,1,2])
print(num)

frozenset({8, 1, 2, 5})

# Type Casting

* List ---list()

* Tuple ---tuple()

* set ---set()

### To List

Here,we are creating a tuple that is converting into list and set

In [14]:
tup = (1,5,8,9,10,12)
type(tup)

tuple

In [15]:
list(tup)

[1, 5, 8, 9, 10, 12]

In [16]:
a = list(tup)
type(a)

list

In [19]:
set1 = {1,9,0,2,5,7}
print(set1)
print(list(set1))

{0, 1, 2, 5, 7, 9}
[0, 1, 2, 5, 7, 9]

##### Here,we are going to create tuple that is converting into list then we are going to add the values

In [20]:
marks = (12,45,67,89,34,47,92,35)

In [21]:
list(marks)

[12, 45, 67, 89, 34, 47, 92, 35]

In [22]:
a = list(marks)

In [24]:
a.extend((23,66,41))

In [25]:
a

[12, 45, 67, 89, 34, 47, 92, 35, 23, 66, 41]

##### To Tuple

In [27]:
tuple(a)       #then we are going to convert that list into tuple

(12, 45, 67, 89, 34, 47, 92, 35, 23, 66, 41)

### to set datatype

In [28]:
names = ("Rajesh","Ramesh","Suresh","Ramesh","Suresh")

#### find the distinct or unique names in given data?

In [29]:
set(names)

{'Rajesh', 'Ramesh', 'Suresh'}

#### ask user to enter a name.Find the unique characters of the name?

In [34]:
name = input("Enter a user name:: ")

Enter a user name::  innomatics

In [35]:
set(name)

{'a', 'c', 'i', 'm', 'n', 'o', 's', 't'}

#### Ask user to enter 5 student marks....then preserve them in a list and then remove duplicate marks

In [39]:
marks = []
suresh = int(input("Enter suresh marks : "))
marks.append(suresh)
Ramesh = int(input("Enter Ramesh marks : "))
marks.append(Ramesh)
Mahesh = int(input("Enter Mahesh marks : "))
marks.append(Mahesh)
Rajesh = int(input("Enter Rajesh marks : "))
marks.append(Rajesh)
Prakash = int(input("Enter Prakash marks : "))
marks.append(Prakash)

Enter suresh marks :  23
Enter Ramesh marks :  45
Enter Mahesh marks :  65
Enter Rajesh marks :  45
Enter Prakash marks :  66

In [40]:
set(marks)

{23, 45, 65, 66}