### Creating the Function

In [1]:
def add(a,b):
    '''This function takes two inputs and performs the addition'''
    print(a+b)

### Calling the Function

In [2]:
add(4,5)

9

In [3]:
add(9,90)

99

In [4]:
add(10,20)

30

In [5]:
add(-10,-20)

-30

In [8]:
def addition(a,b):
     '''This function takes two inputs and performs the addition'''
     return a+b

In [9]:
addition(10,45)

55

In [10]:
addition(10,20)

30

In [11]:
add(10,30) + 30

40

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [13]:
type(add(10,30))

40

NoneType

In [12]:
addition(10,30) + 30

70

In [14]:
type(addition(10,30))

int

In [16]:
def sub(a,b):
     '''This function takes two inputs and performs the addition'''
     return a-b
sub(45,10)

35

In [18]:
def multiplication(a,b):
     '''This function takes two inputs and performs the addition'''
     return a*b
multiplication(45,10)

450

In [19]:
def division(a,b):
     '''This function takes two inputs and performs the addition'''
     return a%b
division(45,10)

5

## Types of Arguments

### 1.Positional Arguments

In [20]:
def sub(a,b):
    print(a-b)

In [21]:
sub(10,20)

-10

In [22]:
sub(20,10)

10

In [2]:
def solve(a,b,c,d):
    print(a+b-c+d)

In [3]:
solve(1,2,3,4)
solve(7,8,1,4)
solve(10,15,2,3)

4
18
26

In [4]:
solve(1,2,3,1)

1

### 2.Keyword Arguments

In [1]:
def sub(x,y):
    print(x-y)

sub(4,5)

-1

In [2]:
def sub(x,y):
    print(x-y)

sub(y=5,x=4)

-1

In [3]:
sub(x=124,y=120)

4

In [4]:
sub(x=4,y=5)

-1

In [5]:
sub(y=124,x=120)

-4

In [6]:
sub(x=120,y=124)

-4

In [7]:
sub(y=120,x=124)

4

In [8]:
def sub(x,y):
    print(x-y)

In [9]:
sub(3,7)  #positional Arguments

-4

In [10]:
sub(x = 4,y = 10)  #Keyword Arguments

-6

In [11]:
sub(10,y = 15)

-5

In [12]:
sub(x = 15,5)

SyntaxError: positional argument follows keyword argument (766535025.py, line 1)

In [13]:
sub(15,y = 5)

10

In [14]:
sub(15,x = 5)

TypeError: sub() got multiple values for argument 'x'

In [15]:
sub(15,20)

-5

In [16]:
sub(y=20,15)

SyntaxError: positional argument follows keyword argument (1441997847.py, line 1)

### 3. Default Arguments

In [17]:
def solve(a,b,c,d):
    print(a+b-c+d)

In [18]:
solve(1,c = 2, b = 3,d = 4)

6

"Dear Ramesh...thank you for registering"
"Dear User...Thank you for registering"

In [19]:
def wish(name):
    print(f"Dear {name}..Thank you for registering")
wish("Rajesh")

Dear Rajesh..Thank you for registering

In [20]:
def wish(name = 'User'):
    print(f"Dear {name}..Thank you for registering")
wish("Arjun")

Dear Arjun..Thank you for registering

In [21]:
def wish(name = 'User'):
    print(f"Dear {name}..Thank you for registering")
wish()

Dear User..Thank you for registering

In [24]:
def solve(a,b,c,d):
    print(a+b-c+d)
    
solve(12,b=2,c=4,d=1)

11

In [25]:
def solve(a,b,c,d=10):
    print(a+b-c+d)
    
solve(12,b=2,c=4)

20

In [26]:
def solve(a,b,c,d=10):
    print(a+b-c+d)
    
solve(12,b=2,c=4,d=5)

15

In [27]:
def solve(a,b,c,d=10):
    print(f"a {a}")
    print(f"b {b}")
    print(f"c {c}")
    print(f"d {d}")

solve(12,b=2,c=4,d=19)

a 12
b 2
c 4
d 19

In [28]:
def solve(a,b,c=15,d=10):
    print(f"a {a}")
    print(f"b {b}")
    print(f"c {c}")
    print(f"d {d}")

solve(12,b=2,c=4,d=19)

a 12
b 2
c 4
d 19

In [29]:
def solve(a,b,c=2.1,d=10):
    print(f"a {a}")
    print(f"b {b}")
    print(f"c {c}")
    print(f"d {d}")

solve(12,b=2,d=19)

a 12
b 2
c 2.1
d 19

In [30]:
def solve(a,b,c=2.1,d=10):
    print(f"a {a}")
    print(f"b {b}")
    print(f"c {c}")
    print(f"d {d}")

solve(12,b=2,c = 0.5,d=19)

a 12
b 2
c 0.5
d 19

In [31]:
def solve(a,b,c=2.1,d=10):
    print(f"a {a}")
    print(f"b {b}")
    print(f"c {c}")
    print(f"d {d}")

solve(12,2,19,11)

a 12
b 2
c 19
d 11

### 4.Variable length Arguments

In [34]:
def add(a,b,c,d,e):
    print(a+b+c+d+e)
add(1,2,3,4,5)

15

In [35]:
def add(*n):
    print(sum(n))

add(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16)

136

In [37]:
def add(*n):
    for i in n:
        print(i)

add(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

#### create a function that accepts variable length arguments as input and find the maximum and minimum number

In [38]:
def add(*n):
    print(max(n))

add(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16)

16

In [39]:
def add(*n):
    print(min(n))

add(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16)

1

In [40]:
def add(*n):
    print(max(n),min(n))

add(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16)

16 1

In [41]:
def min_max(*args):
    print(max(args))
    print(min(args))

min_max(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16)

16
1

In [42]:
def name(**n):
    print(n)

name(name = "Rajesh",Course = "Data Analytics",Edtech = "Innomatics")

{'name': 'Rajesh', 'Course': 'Data Analytics', 'Edtech': 'Innomatics'}

In [44]:
def name(**n):
    for i in n.keys():
        print(i)

name(name = "Rajesh",Course = "Data Analytics",Edtech = "Innomatics")

name
Course
Edtech

In [45]:
def name(**n):
    for i in n.values():
        print(i)

name(name = "Rajesh",Course = "Data Analytics",Edtech = "Innomatics")

Rajesh
Data Analytics
Innomatics

In [46]:
def name(**n):
    for i in n.values():
        print(i)

name(name = "Rajesh",Course = "Data Analytics",Edtech = "Innomatics",City = 'Hyderabad',Branch = 'Kondapur')

Rajesh
Data Analytics
Innomatics
Hyderabad
Kondapur

In [47]:
def name(**n):
    for i in n.items():
        print(i)

name(name = "Rajesh",Course = "Data Analytics",Edtech = "Innomatics",City = 'Hyderabad',Branch = 'Kondapur')

('name', 'Rajesh')
('Course', 'Data Analytics')
('Edtech', 'Innomatics')
('City', 'Hyderabad')
('Branch', 'Kondapur')

### Variable Scope or Types of Variables in functions

In [48]:
def fun(n):
    a = 20  #Local Variable
    print(n+a)

fun(10)

30

In [49]:
w = 20  #Global Variable
def name(x):
    print(x - w)

name(10)

-10

In [50]:
def fun(n):
    d = 20  #Local Variable
    print(n+d)

fun(10)

30

In [52]:
d  #Local variable can not be accessed outside the function

NameError: name 'd' is not defined

In [53]:
w = 20  #Global Variable
def name(x):
    print(x - w)

name(10)

-10

In [54]:
w

20

global variable can also be created inside the functions also

In [55]:
def fun(n):
    global d
    d = 20  #Local Variable
    print(n+d)

fun(10)

30

In [56]:
d

20

### Recursive Functions

#Factorial

In [1]:
def fact(n):
    if n == 0 or n == 1:
        return 1
    else:
        value = n * fact(n-1)
    return value



n = int(input("Enter the number to find Factorial:: "))
fact(n)

Enter the number to find Factorial::  5

120

In [2]:
def fact(n):
    if n == 0 or n == 1:
        return 1
    else:
        value = n * fact(n-1)
    return value



n = int(input("Enter the number to find Factorial:: "))
if n>=0:
    print(fact(n))
else:
    print("Enter the positive value only")

Enter the number to find Factorial::  5

120

#Fibonacci series

In [3]:
def fib(n):

    if n == 0 or n == 1:
        return n
    else:
        val = fib(n-1)+fib(n-2)
    return val

n = int(input("Enter the number:: "))
fib(n)

Enter the number::  7

13

In [4]:
def fib(n):

    if n == 0 or n == 1:
        return n
    else:
        val = fib(n-1)+fib(n-2)
    return val

n = int(input("Enter the number:: "))
for i in range(n):
    print(fib(i))

Enter the number::  7

0
1
1
2
3
5
8

## Lambda Functions

In [5]:
def add(x,y):
    return x+y

add(10,20)

30

### lambda args: expression

In [6]:
lambda x,y: x+y

In [7]:
addition = lambda x,y: x+y

In [8]:
addition(10,20)

30

In [9]:
addition = lambda x,y=5: x+y

In [11]:
addition(10,20)

30

#### write functions for sub,mul,div using lambda espressions

In [12]:
subtraction = lambda a,b: a-b

In [13]:
subtraction(30,20)

10

In [14]:
multiplication = lambda a,b: a*b

In [15]:
multiplication(30,20)

600

In [16]:
division = lambda a,b: a/b

In [17]:
division(10,20)

0.5

In [18]:
summation = lambda *n: sum(n)
summation(1,2,3,4,5,6)

21

In [21]:
summation = lambda *n: min(n)
summation(1,2,3,4,5,6)

1

In [22]:
summation = lambda *n: max(n)
summation(1,2,3,4,5,6)

6

In [23]:
summation = lambda *n: len(n)
summation(1,2,3,4,5,6)

6

In [6]:
square = lambda x: x**2
square(2)

4

In [9]:
summation = lambda a,b: a**2+b**2
summation(24,26)

1252

In [15]:
summation = lambda a,b: (a+b)

summation(24,26)

50

In [29]:
multiplication = lambda a,b: a*b 
multiplication(27,15)

405

In [30]:
multiplication = lambda a=27,b: a*b

In [32]:
multiplication(27,15)

405

In [26]:
multiplication

### lambda+ternary

In [29]:
def even(n):
    if n%2==0:
        print("Even")
    else:
        print("Odd")

n = int(input("Enter the number:: "))
even(n)

Enter the number::  5

Odd

In [30]:
result = lambda n: 'Even' if n%2 == 0 else "odd"

In [31]:
n = int(input("Enter the number"))
result(n)

Enter the number 10

'Even'

### lambda + ternary + comprehension

In [34]:
lambda *n: ['Even' if n%2 == 0 else "odd" for i in n]

In [36]:
check = lambda *n: ['Even' if i%2 == 0 else "odd" for i in n]

check(1,2,3,4,5,6)

['odd', 'Even', 'odd', 'Even', 'odd', 'Even']

In [39]:
def trad(*x):
    for i in x:
        if i%2==0:
            print("Even")
        else:
            print("odd")
trad(1,2,3,4,5,6)

odd
Even
odd
Even
odd
Even

### Miscellenous Functions

#### Filter()

iterable - list,tuple,set,dict

function - logic/functionality --traditional,lambda

In [50]:
list1 = list(range(1,10))

In [53]:
list2 = []
def fun(n):
    if n%2==0:
        return n

In [54]:
list(filter(fun,list2))

[]

In [11]:
list2 = list(range(1,10))

def fun(n):
    if n%2 == 1:
        return n

In [12]:
list2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
list(filter(fun,list2))

[1, 3, 5, 7, 9]

In [15]:
list2 = ['hello',"hi","bye","See you","call me","No issue"]

for i in list2:
    if len(i)>=5:
        print(i)

hello
See you
call me
No issue

In [16]:
list2 = ['hello',"hi","bye","See you","call me","No issue"]
output = []

for i in list2:
    if len(i)>=5:
        output.append(i)

In [17]:
output

['hello', 'See you', 'call me', 'No issue']

In [18]:
list2 = ['hello',"hi","bye","See you","call me","No issue"]

def words(n):
    if len(n)>=5:
        return n

list(filter(words,list2))

['hello', 'See you', 'call me', 'No issue']

In [25]:
num = [1,567,899,3,99,45,100,67,34]

for i in num:
    if i < 100:
        print(i)

1
3
99
45
67
34

In [26]:
def minimum(n):
    if n < 100:
        return n

num = [1,567,899,3,99,45,100,67,34]

list(filter(minimum,num))

[1, 3, 99, 45, 67, 34]

find the all the numbers from 100 to 150 which are divisible by 7 using filter function

In [34]:
list2 = list(range(100,150))

def num(n):
    if n%7==0:
        return n

list(filter(num,list2))

[105, 112, 119, 126, 133, 140, 147]

*Filtering the values based on condition which is created inside another function

*syntax :- filter(function,iterable)

#### Map()

*Applying the functionality on every element in the iterable.

salaries = [34000,54000,65000,23000,75000]

10% bonus on every employee's salary

In [12]:
string = ["1","2","3","4","5","6"]
string

['1', '2', '3', '4', '5', '6']

In [16]:
result =map(int, string)
print(result)

<map object at 0x000001D077AEACE0>

In [83]:
salaries = [34000,54000,65000,23000,75000]

def bonus(n):
    return n + (n * 0.1)

In [84]:
list(map(bonus,salaries))

[37400.0, 59400.0, 71500.0, 25300.0, 82500.0]

In [91]:
list2 = ['hello',"hi","bye","See you","call me","No issue"]

def length(n):
    leng = len(n)
    return leng
    
list(map(length,list2))

RecursionError: maximum recursion depth exceeded

### reduce()

In [86]:
from functools import reduce

In [87]:
list2 = [1,2,3,4,5,6,7,8,9]

def cumsum(x,y):
    return x+y

In [88]:
reduce(cumsum,list2)

45

In [92]:
list2 = [1,2,3,4]

def cummul(x,y):
    return x*y

In [93]:
reduce(cummul,list2)

24

In [94]:
n = int(input("Enter the number to find the factorial"))

list3 = list(range(1,n+1))

reduce(lambda x,y: x*y , list3)

Enter the number to find the factorial 5

120

write python code to result sum of all given numbers using reduce function

In [96]:
from functools import reduce

In [98]:
list4 = [100,200,3445,567,899,34,78,10,0,45,44,55]

reduce(lambda x,y:x+y, list4)

5477

### enumerate()

In [ ]:
list2 = ['hello',"hi","bye","see you","call me","No issue"]

list(enumerate